{% extends 'page.html' %} {% block content %} {% load static %}
<!--Reset Password form-->
<section>
    <div class="main forgot">
        <form method="POST" action="resetPasswordConfirmation()" class="box">
            {% csrf_token %}
            <p class="sign" align="center">Reset Password</p>

            <div class='wrap-input100'>
                <div class="un icon">
                    {{ form.email }}
                    <span class='symbol-input100'>
            <i class="fa fa-envelope fa-lg"></i>
          </span>
                </div>
                {{ form.errors.email }}
            </div>

            <div class="field">
                <button id="reset-btn" class="button is-success btn reset-form-btn " type="submit">
          <span>Reset Password
          </span>
        </button>
            </div>

        </form>
    </div>

</section>
{% endblock %}