{% extends 'page.html' %} {% load static %} {% block content %}
<!-- SignUp Form -->
<div class="fill">
    <span><img src="{% static '/images/signUp.png'%}" alt=""></span>
    <div class="main signup">
        <form method="POST" action="." class="box">
            <p class="sign" align="center">Create your account</p>
            {% csrf_token %}
            <div class='wrap-input100'>
                <div class="un icon">
                    {{ form.username }}
                    <span class='symbol-input100'>
            <i class="fa fa-user fa-lg"></i>
          </span>
                </div>
                {{ form.errors.username }}
            </div>

            <div class='wrap-input100'>
                <div class="un icon">
                    {{ form.email }}
                    <span class='symbol-input100'>
            <i class="fa fa-envelope fa-lg"></i>
          </span>
                </div>
                {{ form.errors.email }}
            </div>

            <div class='wrap-input100'>
                <div class="un icon">
                    {{ form.password1 }}
                    <span class='symbol-input100'>
            <i class="fa fa-lock fa-lg"></i>
          </span>
                </div>
            </div>

            <div class='wrap-input100'>
                <div class="un icon">
                    {{ form.password2 }}
                    <span class='symbol-input100'>
            <i class="fa fa-lock fa-lg"></i>
          </span>
                </div>
                {{ form.errors.password2 }}
            </div>

            <div class="field" align="center">
                <button class="button is-success btn" type="submit">
          Signup
        </button>
            </div>
            <div class='separater'></div>
            <div class="field" id='logintext'>
                Already registered ? <a id='loginlink' href="{% url 'accounts:login' %}">Login</a>
            </div>

        </form>

    </div>
</div>
{% endblock %}